:host {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #eaecef;
    position: relative;
    
    &:hover {
        cursor: pointer;
    }

    &::after {
        content: '';
        position: absolute;
        background-color: rgb(54, 35, 160);
        right: 3px;
        top: 3px;
        width: 3px;
        height: calc(100% - 6px);
    }

    .status-header {
        display: flex;
        width: 100%;
    }

    .status-content {
        width: 100%;
        height: 200px;
    }
}